<div class="nav_wrap">
  <div class="left_nav">
    <div class="nav_item">OfCourse</div>
    <div class="nav_item">Catalog</div>
    <div class="nav_item">Search Bar</div>
  </div>
  <div class="right_nav">
    <div class="nav_item">Publish</div>
    <div class="nav_item">User</div>
  </div>
</div>
