<div class="nav_wrap">
  <div class="left_nav">
    <a class="nav_item">OfCourse</a>
    <a class="nav_item">Category</a>
    <div class="input_group">
      <input type="text" class="search_bar" placeholder="What do you want to learn today?" />
      <div class="search_btn">Search</div>
    </div>
  </div>
  <div class="right_nav">
    <a class="nav_item" href="/publish/1">Publish</a>
    <a class="nav_item" href="/users/1">User</a>
  </div>
</div>
<script src="/nav/js/index.js"></script>
