<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>OfCourse - SearchResult</title>

    <link rel="stylesheet" href="/courseSearchResult/css/style.css" />
    <link rel="stylesheet" href="/nav/css/style.css" />
  </head>

  <body>
    <%- include('components/nav') %>
    <div class="container">
      <div class="filter_bar_wrap">
        <div class="filter_btn score_filter_btn">
          Score > <input type="text" class="filter_input score_filter_input" value="3.0" />
        </div>
        <div class="filter_btn review_count_filter_btn">
          Reviews >
          <input type="text" class="filter_input review_count_filter_input" value="100" />
        </div>
      </div>
      <div class="search_result_wrap">
        <div class="search_result_list">
          <div class="search_result_item">
            <img
              src="https://lareviewofbooks-org-cgwbfgl6lklqqj3f4t3.netdna-ssl.com/wp-content/uploads/2016/08/bojack-horseman-season-3-trailer.jpg"
              class="course_image"
            />
            <div class="course_meta">
              <div class="course_title">JavaScript: Understanding the Weird Parts</div>
              <div class="course_stats">
                <div class="course_avg_score">3.5 ☆</div>
                <div class="course_review_count">512 Reviews</div>
              </div>
            </div>
            <div class="course_single_review">
              <div class="user_info">
                <img
                src="https://lareviewofbooks-org-cgwbfgl6lklqqj3f4t3.netdna-ssl.com/wp-content/uploads/2016/08/bojack-horseman-season-3-trailer.jpg""
                class="user_avatar">
                <div class="user_name">Horseman Bojack</div>
                <div class="review_score">3 ☆</div>
              </div>
              <div class="review_text">
                This place is definitely so nice and such an amazing place for any type of event,
                birthday, meetings, socializing, date night, whatever you call it. It's super
                classy, security everywhere to make sure its safe. I asked what time they close and
                they said its up to whenever the customers want to leave. I thought that was pretty
                cool. There are 3 stories, when you walk in, you can go down stairs where theres
                about 80 tap beers that you pour yourself. Pretty cool, then the main floor has a
                bar, and upstairs would be cocktails and mixed drinks. The mix drinks are a little
                pricey because the cup is so small, but like I said, its definitely a classy look to
                it. Pretty sure this place will blow up soon!
              </div>
            </div>
          </div>
          <div class="search_result_item">
            <img
              src="https://lareviewofbooks-org-cgwbfgl6lklqqj3f4t3.netdna-ssl.com/wp-content/uploads/2016/08/bojack-horseman-season-3-trailer.jpg"
              class="course_image"
            />
            <div class="course_meta">
              <div class="course_title">JavaScript: Understanding the Weird Parts</div>
              <div class="course_stats">
                <div class="course_avg_score">3.5 ☆</div>
                <div class="course_review_count">512 Reviews</div>
              </div>
            </div>
            <div class="course_single_review">
              <div class="user_info">
                <img
                src="https://lareviewofbooks-org-cgwbfgl6lklqqj3f4t3.netdna-ssl.com/wp-content/uploads/2016/08/bojack-horseman-season-3-trailer.jpg""
                class="user_avatar">
                <div class="user_name">Horseman Bojack</div>
                <div class="review_score">3 ☆</div>
              </div>
              <div class="review_text">
                This place is definitely so nice and such an amazing place for any type of event,
                birthday, meetings, socializing, date night, whatever you call it. It's super
                classy, security everywhere to make sure its safe. I asked what time they close and
                they said its up to whenever the customers want to leave. I thought that was pretty
                cool. There are 3 stories, when you walk in, you can go down stairs where theres
                about 80 tap beers that you pour yourself. Pretty cool, then the main floor has a
                bar, and upstairs would be cocktails and mixed drinks. The mix drinks are a little
                pricey because the cup is so small, but like I said, its definitely a classy look to
                it. Pretty sure this place will blow up soon!
              </div>
            </div>
          </div>
          <div class="search_result_item">
            <img
              src="https://lareviewofbooks-org-cgwbfgl6lklqqj3f4t3.netdna-ssl.com/wp-content/uploads/2016/08/bojack-horseman-season-3-trailer.jpg"
              class="course_image"
            />
            <div class="course_meta">
              <div class="course_title">JavaScript: Understanding the Weird Parts</div>
              <div class="course_stats">
                <div class="course_avg_score">3.5 ☆</div>
                <div class="course_review_count">512 Reviews</div>
              </div>
            </div>
            <div class="course_single_review">
              <div class="user_info">
                <img
                src="https://lareviewofbooks-org-cgwbfgl6lklqqj3f4t3.netdna-ssl.com/wp-content/uploads/2016/08/bojack-horseman-season-3-trailer.jpg""
                class="user_avatar">
                <div class="user_name">Horseman Bojack</div>
                <div class="review_score">3 ☆</div>
              </div>
              <div class="review_text">
                This place is definitely so nice and such an amazing place for any type of event,
                birthday, meetings, socializing, date night, whatever you call it. It's super
                classy, security everywhere to make sure its safe. I asked what time they close and
                they said its up to whenever the customers want to leave. I thought that was pretty
                cool. There are 3 stories, when you walk in, you can go down stairs where theres
                about 80 tap beers that you pour yourself. Pretty cool, then the main floor has a
                bar, and upstairs would be cocktails and mixed drinks. The mix drinks are a little
                pricey because the cup is so small, but like I said, its definitely a classy look to
                it. Pretty sure this place will blow up soon!
              </div>
            </div>
          </div>
          <div class="search_result_item">
            <img
              src="https://lareviewofbooks-org-cgwbfgl6lklqqj3f4t3.netdna-ssl.com/wp-content/uploads/2016/08/bojack-horseman-season-3-trailer.jpg"
              class="course_image"
            />
            <div class="course_meta">
              <div class="course_title">JavaScript: Understanding the Weird Parts</div>
              <div class="course_stats">
                <div class="course_avg_score">3.5 ☆</div>
                <div class="course_review_count">512 Reviews</div>
              </div>
            </div>
            <div class="course_single_review">
              <div class="user_info">
                <img
                src="https://lareviewofbooks-org-cgwbfgl6lklqqj3f4t3.netdna-ssl.com/wp-content/uploads/2016/08/bojack-horseman-season-3-trailer.jpg""
                class="user_avatar">
                <div class="user_name">Horseman Bojack</div>
                <div class="review_score">3 ☆</div>
              </div>
              <div class="review_text">
                This place is definitely so nice and such an amazing place for any type of event,
                birthday, meetings, socializing, date night, whatever you call it. It's super
                classy, security everywhere to make sure its safe. I asked what time they close and
                they said its up to whenever the customers want to leave. I thought that was pretty
                cool. There are 3 stories, when you walk in, you can go down stairs where theres
                about 80 tap beers that you pour yourself. Pretty cool, then the main floor has a
                bar, and upstairs would be cocktails and mixed drinks. The mix drinks are a little
                pricey because the cup is so small, but like I said, its definitely a classy look to
                it. Pretty sure this place will blow up soon!
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="/courseSearchResult/js/index.js"></script>
  </body>
</html>
