<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>OfCourse - Course</title>

    <link rel="stylesheet" href="/courseSearchResult/css/style.css" />
    <link rel="stylesheet" href="/nav/css/style.css" />
  </head>

  <body>
    <%- include('components/nav') %>
    <div class="course_wrap">
      <div class="title_wrap">JavaScript: Understanding the Weird Parts</div>
      <div class="course_info_wrap">
        <div class="course_info_item course_average_score">4.5 ☆</div>
        <div class="course_info_item course_reviews_count">512 Reviews</div>
        <div class="course_info_item course_provider">Udemy</div>
      </div>
    </div>
    <div class="review_info_wrap">
      <div class="review_summary_wrap">
        <div class="review_summary_title">Summary</div>
        <div class="review_summary_info">
          <div class="review_summary_score_distribution_wrap">
            <div class="score_distribution_item">
              <div class="distribution_score" data-score="5">5 ☆</div>
              <div class="distribution_count_bar_wrap">
                <div class="distribution_count_bar"></div>
              </div>
            </div>
            <div class="score_distribution_item">
              <div class="distribution_score" data-score="4">4 ☆</div>
              <div class="distribution_count_bar_wrap">
                <div class="distribution_count_bar"></div>
              </div>
            </div>
            <div class="score_distribution_item">
              <div class="distribution_score" data-score="3">3 ☆</div>
              <div class="distribution_count_bar_wrap">
                <div class="distribution_count_bar"></div>
              </div>
            </div>
            <div class="score_distribution_item">
              <div class="distribution_score" data-score="2">2 ☆</div>
              <div class="distribution_count_bar_wrap">
                <div class="distribution_count_bar"></div>
              </div>
            </div>
            <div class="score_distribution_item">
              <div class="distribution_score" data-score="1">1 ☆</div>
              <div class="distribution_count_bar_wrap">
                <div class="distribution_count_bar"></div>
              </div>
            </div>
          </div>
          <div class="review_summary_overview_wrap">
            <div class="review_summary_overview">
              <div class="review_summary_avg_score">4.4</div>
              <div class="review_summary_total_count">(91)</div>
            </div>
          </div>
        </div>
      </div>
      <div class="review_wrap">
        <div class="review_list">
          <div class="review_item">
            <div class="user_info_wrap">
              <img
                class="user_avatar"
                src="https://lareviewofbooks-org-cgwbfgl6lklqqj3f4t3.netdna-ssl.com/wp-content/uploads/2016/08/bojack-horseman-season-3-trailer.jpg"
              />
              <div class="user_info">
                <div class="user_name">Horseman Bojack</div>
                <div class="user_review_count">34 Reviews</div>
              </div>
            </div>
            <div class="user_review_wrap">
              <div class="review_stats">
                <div class="review_score">3 ☆</div>
                <div class="review_date">08/2016</div>
              </div>
              <div class="review_text">
                This place is definitely so nice and such an amazing place for any type of event,
                birthday, meetings, socializing, date night, whatever you call it. It's super
                classy, security everywhere to make sure its safe. I asked what time they close and
                they said its up to whenever the customers want to leave. I thought that was pretty
                cool. There are 3 stories, when you walk in, you can go down stairs where theres
                about 80 tap beers that you pour yourself. Pretty cool, then the main floor has a
                bar, and upstairs would be cocktails and mixed drinks. The mix drinks are a little
                pricey because the cup is so small, but like I said, its definitely a classy look to
                it. Pretty sure this place will blow up soon!
              </div>
            </div>
          </div>
          <div class="review_item">
            <div class="user_info_wrap">
              <img
                class="user_avatar"
                src="https://lareviewofbooks-org-cgwbfgl6lklqqj3f4t3.netdna-ssl.com/wp-content/uploads/2016/08/bojack-horseman-season-3-trailer.jpg"
              />
              <div class="user_info">
                <div class="user_name">Horseman Bojack</div>
                <div class="user_review_count">34 Reviews</div>
              </div>
            </div>
            <div class="user_review_wrap">
              <div class="review_stats">
                <div class="review_score">3 ☆</div>
                <div class="review_date">08/2016</div>
              </div>
              <div class="review_text">
                This place is definitely so nice and such an amazing place for any type of event,
                birthday, meetings, socializing, date night, whatever you call it. It's super
                classy, security everywhere to make sure its safe. I asked what time they close and
                they said its up to whenever the customers want to leave. I thought that was pretty
                cool. There are 3 stories, when you walk in, you can go down stairs where theres
                about 80 tap beers that you pour yourself. Pretty cool, then the main floor has a
                bar, and upstairs would be cocktails and mixed drinks. The mix drinks are a little
                pricey because the cup is so small, but like I said, its definitely a classy look to
                it. Pretty sure this place will blow up soon!
              </div>
            </div>
          </div>
          <div class="review_item">
            <div class="user_info_wrap">
              <img
                class="user_avatar"
                src="https://lareviewofbooks-org-cgwbfgl6lklqqj3f4t3.netdna-ssl.com/wp-content/uploads/2016/08/bojack-horseman-season-3-trailer.jpg"
              />
              <div class="user_info">
                <div class="user_name">Horseman Bojack</div>
                <div class="user_review_count">34 Reviews</div>
              </div>
            </div>
            <div class="user_review_wrap">
              <div class="review_stats">
                <div class="review_score">3 ☆</div>
                <div class="review_date">08/2016</div>
              </div>
              <div class="review_text">
                This place is definitely so nice and such an amazing place for any type of event,
                birthday, meetings, socializing, date night, whatever you call it. It's super
                classy, security everywhere to make sure its safe. I asked what time they close and
                they said its up to whenever the customers want to leave. I thought that was pretty
                cool. There are 3 stories, when you walk in, you can go down stairs where theres
                about 80 tap beers that you pour yourself. Pretty cool, then the main floor has a
                bar, and upstairs would be cocktails and mixed drinks. The mix drinks are a little
                pricey because the cup is so small, but like I said, its definitely a classy look to
                it. Pretty sure this place will blow up soon!
              </div>
            </div>
          </div>
          <div class="review_item">
            <div class="user_info_wrap">
              <img
                class="user_avatar"
                src="https://lareviewofbooks-org-cgwbfgl6lklqqj3f4t3.netdna-ssl.com/wp-content/uploads/2016/08/bojack-horseman-season-3-trailer.jpg"
              />
              <div class="user_info">
                <div class="user_name">Horseman Bojack</div>
                <div class="user_review_count">34 Reviews</div>
              </div>
            </div>
            <div class="user_review_wrap">
              <div class="review_stats">
                <div class="review_score">3 ☆</div>
                <div class="review_date">08/2016</div>
              </div>
              <div class="review_text">
                This place is definitely so nice and such an amazing place for any type of event,
                birthday, meetings, socializing, date night, whatever you call it. It's super
                classy, security everywhere to make sure its safe. I asked what time they close and
                they said its up to whenever the customers want to leave. I thought that was pretty
                cool. There are 3 stories, when you walk in, you can go down stairs where theres
                about 80 tap beers that you pour yourself. Pretty cool, then the main floor has a
                bar, and upstairs would be cocktails and mixed drinks. The mix drinks are a little
                pricey because the cup is so small, but like I said, its definitely a classy look to
                it. Pretty sure this place will blow up soon!
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="/courseSearchResult/js/index.js"></script>
  </body>
</html>
