* {
  box-sizing: border-box;
  letter-spacing: 2px; }

input {
  outline: none; }

.container {
  width: 100%;
  top: 55px;
  position: relative; }
  .container .filter_bar_wrap {
    padding: 5px 0px;
    display: flex;
    background-color: #bebebe;
    color: black; }
    .container .filter_bar_wrap .filter_btn {
      cursor: pointer;
      border: 1px solid #000;
      border-radius: 5px;
      padding: 5px;
      padding-left: 20px;
      font-size: 15px;
      margin: 15px; }
    .container .filter_bar_wrap .filter_input {
      font-size: 15px;
      background: transparent;
      border: 0px solid #000; }
      .container .filter_bar_wrap .filter_input:focus {
        border-bottom: 1px solid rgba(0, 0, 0, 0.5); }
    .container .filter_bar_wrap .filter_btn-active {
      background: skyblue; }
    .container .filter_bar_wrap .score_filter_btn .score_filter_input {
      width: 45px; }
    .container .filter_bar_wrap .review_count_filter_btn .review_count_filter_input {
      width: 55px; }
  .container .search_result_wrap {
    display: flex;
    justify-content: space-around; }
    .container .search_result_wrap .search_result_list {
      width: 90%; }
      .container .search_result_wrap .search_result_list .search_result_item {
        display: flex;
        height: 250px;
        align-items: center;
        border-bottom: 1px solid #000; }
        .container .search_result_wrap .search_result_list .search_result_item .course_image {
          height: 200px;
          width: 200px; }
        .container .search_result_wrap .search_result_list .search_result_item .course_meta {
          width: 700px;
          border-right: 1px solid #000; }
          .container .search_result_wrap .search_result_list .search_result_item .course_meta .course_title {
            width: 700px;
            font-size: 35px;
            padding: 25px; }
          .container .search_result_wrap .search_result_list .search_result_item .course_meta .course_stats {
            display: flex;
            padding: 25px;
            padding-top: 0px; }
            .container .search_result_wrap .search_result_list .search_result_item .course_meta .course_stats .course_avg_score {
              margin-right: 15px; }
        .container .search_result_wrap .search_result_list .search_result_item .course_single_review {
          height: 200px;
          display: flex;
          flex-direction: column; }
          .container .search_result_wrap .search_result_list .search_result_item .course_single_review .user_info {
            display: flex;
            align-items: center;
            padding: 10px;
            height: 50px; }
            .container .search_result_wrap .search_result_list .search_result_item .course_single_review .user_info .user_avatar {
              height: 50px;
              width: 50px;
              margin-right: 10px; }
            .container .search_result_wrap .search_result_list .search_result_item .course_single_review .user_info .user_name {
              margin-right: 10px; }
          .container .search_result_wrap .search_result_list .search_result_item .course_single_review .review_text {
            height: 150px;
            padding: 10px;
            overflow: scroll;
            text-align: justify; }

/*# sourceMappingURL=style.css.map */
