* {
  box-sizing: border-box;
  letter-spacing: 2px; }

input {
  outline: none; }

textarea {
  outline: none; }

.course_wrap {
  margin-top: 55px;
  color: white;
  width: 100%;
  display: block;
  padding: 55px;
  padding-left: 75px;
  background-color: #282828; }
  .course_wrap .url_input_wrap {
    display: flex;
    justify-content: center;
    align-items: center; }
    .course_wrap .url_input_wrap .course_url_input {
      width: 80%;
      margin-right: 15px;
      height: 45px;
      padding: 10px;
      background: #3c3c3c;
      color: white; }
    .course_wrap .url_input_wrap .url_input_btn {
      background: #3c3c3c;
      border-radius: 5px;
      text-align: center;
      padding: 15px;
      border: 2px solid white;
      cursor: pointer; }
  .course_wrap .course_info_wrap {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center; }
    .course_wrap .course_info_wrap .course_avatar {
      height: 200px;
      width: 200px;
      margin-right: 15px; }
    .course_wrap .course_info_wrap .info_input_wrap .course_name_wrap {
      display: flex;
      align-items: center;
      width: 900px;
      font-size: 15px;
      padding: 15px; }
      .course_wrap .course_info_wrap .info_input_wrap .course_name_wrap .course_name_input {
        margin-left: 15px;
        font-size: 15px;
        width: 80%;
        margin-right: 15px;
        height: 45px;
        padding: 10px;
        background: #3c3c3c;
        color: white; }
    .course_wrap .course_info_wrap .info_input_wrap .course_other_info_wrap {
      padding: 15px; }
      .course_wrap .course_info_wrap .info_input_wrap .course_other_info_wrap .info_input {
        color: white;
        background: #3c3c3c;
        padding: 15px;
        font-size: 15px;
        margin-right: 15px; }

.review_info_wrap {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: #f2f2f2; }
  .review_info_wrap .user_wrap {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 30px;
    padding-left: 75px; }
    .review_info_wrap .user_wrap .user_avatar {
      border-radius: 50%;
      height: 50px;
      width: 50px; }
    .review_info_wrap .user_wrap .user_text_wrap {
      display: flex;
      flex-direction: column; }
      .review_info_wrap .user_wrap .user_text_wrap .user_name {
        margin-left: 20px; }
      .review_info_wrap .user_wrap .user_text_wrap .star_list {
        display: flex;
        margin-left: 20px;
        font-size: 25px; }
        .review_info_wrap .user_wrap .user_text_wrap .star_list .active {
          color: darkorange; }
  .review_info_wrap .review {
    margin-left: 50px;
    margin-right: 50px;
    height: 500px;
    font-size: 20px;
    padding-left: 5px;
    padding-top: 3px; }
  .review_info_wrap .button_wrap {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 60px;
    margin-top: 25px;
    margin-bottom: 25px; }
    .review_info_wrap .button_wrap .btn {
      border-radius: 5px;
      text-align: center;
      padding: 15px;
      border: 1px solid #282828;
      cursor: pointer;
      margin-left: 15px; }

/*# sourceMappingURL=style.css.map */
